{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Talk to Mia</title>
</head>
<body>
    <h1>Talk to Mia</h1>
    <div id="chat-container">
        <!-- Aqui as respostas do chatbot serão exibidas em tempo real -->
    </div>
    <input type="text" id="user-input" name="user_message" placeholder="Digite sua pergunta...">
    <button id="send-button">Enviar</button>

    <!-- Adicione o token CSRF em um campo oculto -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">

    <!-- JavaScript para interagir com o chatbot -->
    <script src="{% static 'js/chat.js' %}"></script>
    <script>
        // Adiciona um ouvinte de evento para a tecla "Enter" no campo de entrada
        document.getElementById("user-input").addEventListener("keyup", function(event) {
            // Verifica se a tecla pressionada é "Enter"
            if (event.key === "Enter") {
                // Simula um clique no botão de envio
                document.getElementById("send-button").click();
            }
        });
    </script>
</body>
</html>


